In [4]:
import ibm_db

In [13]:
dsn_driver="{IBM DB2 ODBC DRIVER}"
dsn_database ="BLUDB"
dsn_hostname="dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net"
dsn_port="50000"
dsn_protocol="TCPIP"
dsn_uid="mdg34815"
dsn_pwd="s3z6pq5926@sp8ll"

In [15]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  mdg34815 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

In [18]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "MDG34815.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204

In [27]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname  VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name "MDG34815.INSTRUCTOR" of type "TABLE".  SQLSTATE=42710 SQLCODE=-601

In [50]:
insertQuery=" insert into Instructor values (2,'Raul','Chong','Markham','CA'),(3,'Hima','Vasudevan','Chicago','US')"
insertStmt=ibm_db.exec_immediate(conn,insertQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0803N  One or more values in the INSERT statement, UPDATE statement, or foreign key update caused by a DELETE statement are not valid because the primary key, unique constraint or unique index identified by "1" constrains table "MDG34815.INSTRUCTOR" from having duplicate values for the index key.  SQLSTATE=23505 SQLCODE=-803

In [49]:
selectQuery="select * from Instructor"
selectStmt=ibm_db.exec_immediate(conn,selectQuery)
while ibm_db.fetch_row(selectStmt)!=False:
    print ("ID:",ibm_db.result(selectStmt,0)," fname:", ibm_db.result(selectStmt,"fname"))

ID: 1  fname: None
ID: 2  fname: None
ID: 3  fname: None

In [52]:
import pandas
import ibm_db_dbi

In [54]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [56]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'Ahuja'

In [57]:
ibm_db.close(conn)

True